<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>

        body{
            background-image: linear-gradient(to right,orange,yellow);
        }
        h1{
            margin-top: 200px;
            text-align: center;
        }
    </style>
    <form action="home">
        {% csrf_token %}
    <h1>You are successfully logged in '{{name}}'</h1>
    </form>
</body>
</html>